{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ reservation.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reservation.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ reservation.email }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ reservation.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}" class="btn btn-primary m-2">Retour à la liste</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}" class="btn btn-primary m-2">Editer</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
